h2 {
    color: #5FCFFC;
    background-color: rgb(89, 151, 0);
}

button {
    color: magenta;
    background-color: rgb(224, 254, 254);
}

p {
    color: olive;
    background: rgb(203, 149, 48);
}
